.car-card--wrapper{
    position: relative;
    margin-bottom: 150px;
    &:first-child{
        margin-top: 69px;
    }
    &:last-child{
        margin-bottom: 0;
    }
    @media(width >= 551px){
        margin-bottom: 300px;
    }
    @media(--small){
        margin-bottom: 411px;
    }
    @media(--medlg){
        margin-bottom: 198px;
        &:first-child {
            margin-top: 51px;
        }
    }
}

.car-card__img-bg{
    position: relative;
}

.car-card__car-color{
    position: absolute;
    size: 25px 15px;
    top: 70%;
    left: 49%;
    @media(width >= 551px){
        size: 50px 25px;
        top: 68%;
        left: 49%;
    }
    @media(--small){
        size: 55px 30px;
        top: 68%;
        left: 49%;
    }
    @media(--tablet){
        top: 71%;
        left: 49%;
    }
    @media(width >=1200px){
        size: 100px 55px;
        top: 68%;
        left: 49%;
    }
    @media(width >=1350px) {
        size: 100px 55px;
        top: 65%;
        left: 8%;
    }
}

.car-card{
    position: absolute;
    z-index: 999;
    display: flex;
    flex-flow: row nowrap;
    max-width: 910px;
    left: 45%;
    top: 74%;
    transform: translate(-50%, -50%);
    @media(width >= 551px){
        left: 43%;
        top: 79%;
    }
    @media(--small){
        left: 43%;
        top: 80%;
    }
    @media(--tablet){
        top: 76%;
    }
    @media(--medlg){
        top: 75%;
    }
}

.car-card__img{
    size: 100px 65px;
    @media(width >= 551px){
        size: 200px 130px;
    }
    @media(width >= 585px){
        size: 240px 164px;
    }
    @media(width >=1200px) {
        size: 433px 309px;
    }
}

/* details */

.details__car-name{
    size: 150px 30px;
    @media(width >= 551px){
        size: 210px 50px;
    }
    @media(--small){
        size: 214px 68px;
    }
    @media(width >=1200px) {
        size: 280px 100px;
    }
}

.details__list {
    position: absolute;
    left: 75%;
    top: -3px;
    display: flex;
    @media(width >= 551px){
        left: 82%;
        top: -10px;
    }
}

.details__item {
    position: relative;
    /* padding: 8px 10px; */
    border-radius: 50%;
    border: 1px solid #ebebeb;
    @add-mixin center;
    size: 12px;
    margin-left: 9px;
    &:first-child {
        margin-left: 0;
    }

    &:nth-child(2) {
        top: -7px;
    }

    &:nth-child(3) {
        top: -12px;
    }
    @media(width >= 551px){
        border: 2px solid #ebebeb;
        margin-left: 11px;
        size: 24px;
        &:first-child {
            margin-left: 0;
        }
        &:nth-child(2) {
            top: -9px;
        }
        &:nth-child(3) {
            top: -17px;
        }
    }
    @media(width >=1200px) {
        size: 31px;
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }

        &:nth-child(2) {
            top: -9px;
        }

        &:nth-child(3) {
            top: -17px;
        }
    }
}

.details__img {
    size: 6px;
    @media(width >= 551px){
        size: 16px;
    }
    @media(width >=1200px) {
        size: 26px;
    }
}

.details__img--term {
    width: 5px;
    @media(width >= 551px){
        width: 9px;
    }
    @media(width >=1200px) {
        width: 14px;
    }
}

.details__img--gas {
    width: 6px;
    @media(width >= 551px){
        width: 10px;
    }
    @media(width >=1200px) {
        width: 15px;
    }
}

.details__status {
    position: absolute;
    size: 7px;
    border-radius: 50%;
    background-color: #ebebeb;
    font-family: $oswald;
    @add-mixin fontSize 5;
    font-weight: 300;
    color: #49a656;
    top: -3px;
    right: -3px;
    text-align: center;
    will-change: top, right;
    @media(width >= 551px){
        size: 10px;
        @add-mixin fontSize 8;
        top: -4px;
        right: -5px;
    }
    @media(width >=1200px) {
        size: 23px;
        @add-mixin fontSize 18;
        top: -7px;
        right: -11px;
    }
}

/* reverse */
.car-card__car-color--reverse{
    size: 40px 25px;
    top: 55%;
    left: 36%;
    @media(width >= 551px){
        size: 111px 25px;
        top: 60%;
        left: 37%;
    }
    @media(--small){
        size: 111px 40px;
        top: 57%;
        left: 35%;
    }
    @media(--tablet){
        top: 61%;
        left: 38%;
    }
    @media(--medlg){
        size: 140px 40px;
        top: 63%;
        left: 38%;
    }
    @media(width >=1200px) {
        size: 170px 55px;
        top: 61%;
        left: 39%;
    }
    @media(width >=1350px) {
        size: 202px 75px;
        top: 6%;
        left: 81%;
    }
}

.car-card--reverse{
    top: 44%;
    left: 59%;
    @media(width >= 551px){
        top: 50%;
        left: 60%;
    }
    @media(--small){
        top: 50%;
        left: 60%;
    }
    @media(--tablet){
        top: 44%;
        left: 62%;
    }
    @media(--medlg){
        top: 42%;
        left: 57%;
    }
}

.car-card__img--reverse{
    order: 1;
}

.car-card__details--reverse{
    order: 0;
}

.details__car-name--reverse{
    position: relative;
    top: 43%;
    left: -14%;
    @media(--small){
        top: 37%;
        left: -5%;
    }
}

.details__list--reverse{
    left: 19%;
    top: 39%;
    @media(width >= 551px){
        left: 20%;
        top: 35%;
    }
}