.cars{
	/* margin-top: 122px; */
	margin-bottom: 93px;
	font-family: $oswald;
	color: #fff;
	text-transform: uppercase;
	@add-mixin fontSize 44;
	font-weight: 200;
}


.cars__car-card--bg {
	position: relative;
}

.car-card__background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.cars__car-card{
	position: relative;
	z-index: 999;
	display: flex;
	flex-flow: row nowrap;
	max-width: 910px; /* 1235 for retina if img width 850px */
	/* height: 100vh; */
	margin: 0 auto 200px auto;
	transform: translateY(35%);
	will-change: transform;
}

.car-card__img{
	position: relative;
	z-index: 999;
	top: 12%;
}

.card-card__details{
	position: relative;
	z-index: 999;
	margin-left: 105px;
}

/* details */

.details__price--wrapper{
	display: flex;
	/* margin-bottom: 16px; */
	/* align-items: center; */
}

.details__price{
	margin-top: 18px;
}

.details__car-name{
	margin-bottom: 18px;
}


.details__list{
	/* position: absolute; */
	position: relative;
	/* top: -12px; */
	left: 70px;
	display: flex;
	/* margin-top: -56px; */
	/* margin-left: 70px; */
	/* transform: rotate(-7deg); */
	/* will-change: transform; */
	/* margin-bottom: 32px; */
}

.details__price,
.details__car-name {
	transform: skew(-10deg) rotate(-10.5deg);
	will-change: transform;
}

.details__item{
	position: relative;
	/* padding: 8px 10px; */
	border-radius: 50%;
	border: 2px solid #ebebeb;
	size: 41px;
	@add-mixin center;
	margin-left: 20px;
	&:first-child{
		margin-left: 6px;
	}
	&:nth-child(2){
		top: -7px;
	}
	&:nth-child(3){
		top: -17px;
	}
}

.details__img{
	size: 26px;
}

.details__img--term{
	width: 16px;
}

.details__img--gas{
	width: 20px;
}

.details__status{
	position: absolute;
	size: 23px;
	border-radius: 50%;
	background-color: #ebebeb;
	font-family: $oswald;
	@add-mixin fontSize 18;
	color: #49a656;
	top: -7px;
	right: -11px;
	text-align: center;
	will-change: top, right;
}

.details__book-now {
	text-align: center;
	margin-bottom: 35px; /* 31px original */
	transform: skew(-10deg) rotate(-10.5deg);
	will-change: transform;
}

.details__contact-us {
	display: flex;
	flex-flow: row nowrap;
}

/* svg */

.contact-us__call-btn, .contact-us__text-btn {
	width: 131px;
	height: 47px;
}

.contact-us__call-btn{
	margin-right: 28px;
}

/* call */
.st1{
	fill:#fff
}

/* text */
.st2{
	fill:#fff
}