.cars{
	/* margin-top: 122px; */
	margin-bottom: 93px;
	font-family: $oswald;
	color: #fff;
	text-transform: uppercase;
	@add-mixin fontSize 44;
	font-weight: 200;
}


.cars__car-card--bg {
	position: relative;
}

.car-card__background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.cars__car-card{
	position: relative;
	z-index: 999;
	display: flex;
	flex-flow: row nowrap;
	max-width: 910px; /* 1235 for retina if img width 850px */
	/* height: 100vh; */
	margin: 0 auto 200px auto;
	transform: translateY(35%);
	will-change: transform;
}

.car-card__img{
	position: relative;
	z-index: 999;
	top: 12%;
}

.card-card__details{
	position: relative;
	z-index: 999;
	margin-left: 105px;
}

/* details */

.details__price{
	margin-bottom: 16px;
}

.details__car-name{
	margin-bottom: 26px;
}


.details__list{
	display: flex;
	margin-bottom: 32px;
}

.details__price,
.details__car-name {
	transform: skew(-10deg) rotate(-10.5deg);
	will-change: transform;
}

.details__item{
	position: relative;
	padding: 8px 10px;
	border-radius: 50%;
	border: 2px solid #ebebeb;
	size: 51px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 25px;
	&:first-child{
		margin-left: 0;
	}
}

.details__status{
	position: absolute;
	size: 23px;
	border-radius: 50%;
	background-color: #ebebeb;
	font-family: $oswald;
	@add-mixin fontSize 18;
	color: #49a656;
	top: -7px;
	right: -11px;
	text-align: center;
	will-change: top, right;
}

/* .details__link{
	color: #fff;
	background-color: var(--accent-color);
	padding: 11px 25px;
	text-align: center;
	border-radius: 11px;
	max-width: 233px;
} */

.details__contact-us {
	display: flex;
	flex-flow: row nowrap;
}

/* svg */

.contact-us__call-btn, .contact-us__text-btn {
	width: 131px;
	height: 47px;
}

.contact-us__call-btn{
	margin-right: 28px;
}

/* call */
.st1{
	fill:#fff
}

/* text */
.st2{
	fill:#fff
}