-
	var skodaRapid = {
		img: 'img/cars/skoda-rapid.png',
		title: 'Skoda Rapid `18',
		bg: 'img/flag1.svg',
		color: 'img/cars/white.svg',
		reverse: false
	};
	var skodaChampagne = {
		img: 'img/cars/skoda-champagne.png',
		title: 'Skoda Rapid `18',
		bg: 'img/flag2.svg',
		color: 'img/cars/champagne.svg',
		reverse: true
	};

section.cars
	include ../car-card/car-card
	+carCard(skodaRapid)
	include ../book-now/book-now
	+carCard(skodaChampagne)