.book-now--wrapper{
    background: url("../img/book-now/bg.svg") no-repeat;
    size: 0;
    position: absolute;
    @add-mixin poscenter;
    z-index: 999;
    @media(width >= 551px){
        size: 100% 330px; /* height 395px */
    }
    @media(width >= 640px){
        size: 640px 375px;
    }
    @media(--tablet){
        size: 640px 394px;
    }
    @media(--large){
        size: 704px 394px;
    }
}

.book-now{
    position: absolute;
    top: 46%;
    left: 51%;
    transform: translate(-50%,-50%);
    @media(--large){
        top: 52%;
        left: 54%;
        transform: translate(-50%, -50%);
    }
}

.book-now__title{
    size: 150px 50px;
    position: relative;
    left: 20px;
    @media(width >= 551px){
        size: 250px 98px;
        left: 20px;
    }
    @media(--small){
        left: 90px;
    }
    @media(--tablet){
        left: 20px;
    }
}

.book-now__contact-us{
    display: flex;
}

.contact-us__text-link, .contact-us__call-link{
    position: relative;
    size: 90px 35px;
    @media(width >= 551px){
        size: 135px 75px;
    }
    @media(--small){
        size: 214px 118px;
    }
    @media(--tablet){
        size: 135px 75px;
    }
}

.contact-us__call-link{
    top: -4px;
    @media(width >= 551px){
        top: -10px;
    }
}

.contact-us__text-link{
    margin-left: 17px;
    top: -25px;
    @media(width >= 551px){
        margin-left: 21px;
        top: -40px;
    }
    @media(--small){
        top: -55px;
    }
    @media(--tablet){
        top: -40px;
    }
}

.book-now__tel{
    color: var(--accent-color);
    text-transform: uppercase;
    transform: skew(-7deg) rotate(-10deg);
    @add-mixin fontSize 12;
    text-align: center;
    @media(width >= 551px){
        @add-mixin fontSize 16;
    }
    @media(--tablet){
        @add-mixin fontSize 24;
    }
}

/* buttons */

.st0 {
    fill: #64A35D;
}

.st1 {
    fill: #FFFFFF;
}

.cls-1 {
    fill: #64A35D;
}

.cls-2, .cls-3 {
    fill: #fff;
}

.cls-3{
    fill-rule: evenodd;
}