footer.main-footer
	p.main-footer__descr Minsk budget car rental, cheap cars for hire in Minsk, Belarus. We are based in Minsk, Belarus. Working with new cars only, brand new Skoda Rapid, Kia Rio, Hyundai Accent are available for rent.
	.main-footer__copyright--wrapper
		p.main-footer__copyright &copy 2018, AutoRent.by
		img.main-footer__flag-img(src="img/flag.png" alt="Belarus flag" title="Belarus flag")