.main-footer {
	/* position: fixed; */
	z-index: 10;
	bottom: 25px;
	left: 65px;
	font-family: $fira;
	color: #464646;
	@add-mixin fontSize 20;
	text-align: left;
	padding-bottom: 25px;
	padding-left: 65px;
}

.main-footer__descr{
	font-weight: 300;
	margin-bottom: 12px;
	margin-left: 20px;
	max-width: 880px;
}

.main-footer__copyright--wrapper{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.main-footer__copyright{
	font-weight: 300;
}

.main-footer__flag-img {
	margin-left: 14px;
}