@import "fonts.css";
@import "_mixin.css";
@import "libs.css";
@import "adjustment.css";

/*
    Components
*/

@import "../components/header/header.css";
@import "../components/car-card/car-card.css";
@import "../components/cars/cars.css";
@import "../components/book-now/book-now.css";
@import "../components/footer/footer.css";


/*
    Pages
*/

body{
	max-width: 1440px;
	margin: 0 auto;
}

.maincontent{
	position: relative;
}

.company__logo{
	position: absolute;
	top: 66px; /* 30 */
	left: 200px; /* 91 */
	z-index: 10;
	size: 455px 135px;
}
