@import "fonts.css";
@import "_mixin.css";
@import "libs.css";
@import "adjustment.css";

/*
    Components
*/

@import "../components/header/header.css";
@import "../components/cars/cars.css";
@import "../components/footer/footer.css";


/*
    Pages
*/

.maincontent{
	position: relative;
}

.background__img{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.company__logo{
	position: fixed;
	top: 30px;
	left: 91px;
	z-index: 10;
	size: 424px 127px;
	@media(--large){
		top: 66px;
		left: 91px;
	}
}
