@import "fonts.css";
@import "_mixin.css";
@import "libs.css";
@import "adjustment.css";

/*
    Components
*/

@import "../components/header/header.css";
@import "../components/car-card/car-card.css";
@import "../components/cars/cars.css";
@import "../components/book-now/book-now.css";
@import "../components/footer/footer.css";


/*
    Pages
*/

body{
	max-width: 1440px;
	margin: 0 auto;
}

.maincontent{
	position: relative;
}

.company__logo{
	position: absolute;
	top: 0;
	left: 64px;
	z-index: 10;
	size: 300px 135px;
	@media(--small){
		top: 20px;
		size: 455px 135px;
	}
	@media(--medlg){
		top: 65px;
		left: 64px;
	}
	@media(--large){
		top: 66px;
		left: 200px;
	}
}
